.container {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 0.3rem;
  background-color: var(--yellow);
  margin-bottom: 2rem;
}

.nav_container {
  width: 10rem;
  display: flex;
  align-items: center;
}

.ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.logo {
  width: 15rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo_title {
  font-size: 1.6rem;
  color: var(--blue);
}

.links {
  color: var(--blue);
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  text-shadow: #e0e0e0 1px 1px 0;
}
