.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.border {
  border: 8px solid black;
  width: 15rem;
  height: 20rem;
  margin-bottom: 10px;
  position: relative;
  border-radius: 2rem;
  cursor: pointer;
}

.superior {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid black;
  background-color: var(--red);
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  height: 200px;
}

.superior_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 6px solid black;
  width: 3rem;
  height: 3rem;
  border-radius: 99rem;
  position: absolute;
  top: 173px;
  left: 89px;
  background-color: white;
}

.interior_circle {
  border: 2px solid black;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 99rem;
}

.inferior {
  height: 34%;
  border-top: 4px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
